.el-card:hover {
    /* box-shadow: 0px 0px 24px 0px rgb(20 45 160 / 10%) !important; */
    box-shadow: 0px 0px 24px 0px rgba(228, 177, 135, 0.3) !important;
    transition: all 0.2s ease-in-out;
}

/* 
<el-container class="aside-container"> 
*/

/* 设置高度占满全屏  html,body,#app,.el-container,.el-aside都要设置height:100%; */
html,
body,
#app,
.el-container {
    height: 100%;
}

.el-menu {
    color: #fff;
    background-color: #304156;
}

.el-menu-item:focus,
.el-menu-item:hover,
.el-submenu__title:hover {
    background-color: rgb(199, 199, 199);
}

.el-menu-item {
    color: #fff;
}

.avatar-uploader-icon {
    font-size: 20px !important;
    color: #ff0000 !important; /* 将 #ff0000 替换为您想要的颜色 */
}